body {
  margin-top: 20px;
}

.App {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.App header {
  background-color: #fff;
  height: 10vh;
  min-height: 50px;
  color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-bottom: 1px solid #eff2f5 !important;
}

.logo {
  margin-left: 30%;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.chatroom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 70%;
  margin-left: 30px;
  min-height: 100vh;
  background-color: #ffffff;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  overflow: hidden;
}

main::-webkit-scrollbar-track {
  overflow: hidden;
}

main::-webkit-scrollbar-thumb {
  overflow: hidden;
}

form {
  height: 8vh;
  position: fixed;
  bottom: 1.5%;
  background-color: #ffffff;
  width: 100%;
  max-width: 70%;
  display: flex;
  font-size: 1.5rem;
}

.formbutton {
  width: 20%;
  border: none;
  background-color: #2d46b9;
  color: #ffffff;
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  outline: 1px solid #2d46b9;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: #eff2f5;
  color: #000000;
  outline: 1px solid #d1d4d6;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: none;
  padding: 0 10px;
}

.sign-out {
  width: 10%;
  border: none;
  background-color: #d10000;
  color: #ffffff;
  padding: 10px 18px;
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 7px;
}

.sign-in {
  border: none;
  border-radius: 7px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  color: #ffffff;
  background: #5ed346;
  max-width: 400px;
  margin: 0 auto;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  padding: 10px 20px;
  position: relative;
  color: white;
}

.message {
  display: flex;
  align-items: center;
}

.displayName {
  color: #131313 !important;
  background: #ffffff !important;
  font-weight: 500 !important ;
  margin: 0 !important;
  padding: 0 !important;
}
.displayText {
  margin-top: 2px;
}

.sent {
  flex-direction: row-reverse;
}

.sent h6 {
  text-align: right;
}

.received h6 {
  text-align: left;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  border-bottom-right-radius: 5px !important;
  border-radius: 20px;
}
.received p {
  background: #e5e5ea;
  color: black;
  text-align: center;
  border-bottom-left-radius: 5px !important;
  border-radius: 20px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.rules {
  margin-top: 3%;
  float: left;
  max-width: 25%;
  height: 100%;
  margin-bottom: 0;
  background-color: #fdfdfd;
}

.rulesDesc {
  color: #000;
  text-align: left;
  margin: 0;
}

.rulesListItem {
  width: 50%;
  margin-left: 30px;
  margin-bottom: 10px;
  text-align: left;
}
h4 {
  margin-bottom: 0;
}
